<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WJRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB589CBB1CB5293300A6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB589CD41CB5293300A6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB589CDF1CB5293400A6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
